<div class="well" id="whatever">
  <% if @reviews %>
    <% @reviews.each do |review| %>
      <div class="well">
        <% if review.photos.any? %>
          <% review.photos.each do |pic| %>
          <%= image_tag(pic.image(:medium)) %>
          <% end %>
        <% end %>
      <p>
        <%= review.content %>
      </p>

      <h6>By: <%= review.author %></h6>
      </div>
     <% end %>
  <% end %>
</div>
